{% extends "pages\base.html" %}
{% block title %} Blog {% endblock %}
{% block content %}
<div class='myblog'>
  <div class="row gy-5" space-between>
    <div class="create col mb-2">
      <a href="{% url 'create_mypost' %}" class="btn btn-outline-primary">Tạo bài viết</a>
    </div>
    <div class="search  col mb-2  ">
      <form class="d-flex" method="POST" action="{% url 'search' %}">
        {% csrf_token %}
        <input type="search" name="query" placeholder="Tìm kiếm..." class=" border-0 rounded-start"><button
          type="submit" class="btn btn-outline-primary rounded-end" ;>Tìm kiếm</button>
      </form>
    </div>

  </div>
  <div class="row ml-1">
    {% for mypost in myposts%}
    <div class="col-lg-4 mb-4">
      <div class="card position-relative" style="width: 18rem; height: 28rem;">
        <img src="{{ mypost.image.url }}" class="card-img-top" alt="..." width="300px" height="300px">
        <div class="card-body">
          <h5 class="card-title">{{ mypost.title}}</h5>
          <p class="card-text text-nowrap overflow-hidden">{{ mypost.content}}</p>
          <a href="blog/{{mypost.id}}" class="card-button position-absolute bottom-0 start-0 ">Chi tiết</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}