{% extends "pages/base.html" %}
{% load static %} 
{% block title %}
Home
{% endblock %}
{% block content %}
<div class='home position-relative'>
<div class="clock ">
    <div class="hour">
        <div class="hr" id="hr"></div>
    </div>

    <div class="min">
        <div class="mn" id="mn"></div>
    </div>

    <div class="sec">
        <div class="sc" id="sc"></div>
    </div>
</div>


<div class="">
     <h2 class="">Welcome to my blog</h2>
    <div class="text text-wrap col-8">Chào mừng bạn đến với blog của tôi! Đây là nơi tôi chia sẻ những suy nghĩ,  nghiệm và kiến thức của mình về
        các chủ đề đa dạng như kinh doanh, công nghệ,sức khỏe, giải trí và nhiều lĩnh vực khác. Tôi hy vọng blog của mình sẽ là
        <br>nơi bạn có thể tìm thấy những thông tin hữu ích và cảm thấy được truyền cảm hứng để vươn lên trong cuộc sống.
        <br>Cảm ơn bạn đã ghé thăm blog của tôi và hãy cùng nhau khám phá thế giới qua từng bài viết nhé!
</div>

</div>
</div>
{% endblock %}
