{% extends "pages\base.html" %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}
<div class ='myinfo'>
  
  <h3 class=" mt-3 ">Hĩu</h3>
  <img src="{% static 'images/hii.png' %}" alt="" width="500px" height="500px">
 <p class="text-break col-11" >
 
  Tôi là một cá nhân vô danh. Tôi không muốn để lộ danh tính của mình, bởi vì tôi tin rằng tất cả những gì tôi làm đều nên được đánh giá dựa trên giá trị chất lượng của chúng, chứ không phải dựa trên tên tuổi của tôi.
  <br>
  Tôi đang học tại một trường học, nơi tôi được trang bị kiến thức và kỹ năng để trở thành một cá nhân có ích cho xã hội. Tuy nhiên, điều quan trọng là tôi tự quyết định đường đi của mình và không bao giờ ngừng học hỏi để trưởng thành mỗi ngày.
 </p>
</div>
 

{% endblock %}