.my-contact{
display: inline-flex;
justify-content: space-between;

}
.contact--form{
    margin: auto;
 }
 .contact--form input{
    border:none;
    border-radius: 5px;
    margin: auto;
    height: 50px;
    width: 350px;
 }
 .my-contact input{
     margin-bottom: 20px;
 }
 .contact-img{
    position: relative;
    right: 0;
    margin-left:100px;
  }

input:nth-child(4){
     height: 100px;
    width: 350px;
}